# Define o estilo de indentação como espaços
[*]
indent_style = space

# Define o tamanho da tabulação como 2 espaços
[*.{js,jsx,ts,tsx,css,scss,html}]
indent_size = 2

# Define o estilo de quebra de linha como LF (Unix-style)
[*.{js,jsx,ts,tsx,css,scss,html}]
end_of_line = lf