button {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    background-color: #10816b;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-right: 1rem;
}

button.disabled {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed;
}

button.error {
    background-color: #e50000;
    color: #fff;
}

button.active {
    background-color: #00f;
    color: #fff;
}

button.correct {
    background-color: #0f0;
    color: #fff;
}