/* Reset padrão */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* Reset para elementos que podem ter estilo padrão */

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}


/* Reset para links */

a {
    text-decoration: none;
    color: inherit;
}


/* Reset para tabelas */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Reset para elementos de bloco */

blockquote,
body,
dd,
dl,
dt,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
legend,
li,
nav,
ol,
p,
pre,
section,
table,
td,
tfoot,
th,
thead,
tr,
ul {
    margin: 0;
    padding: 0;
}


/* Reset para elementos de mídia */

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Reset para formulários */

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    vertical-align: middle;
}


/* Reset para botões */

button {
    background: transparent;
    border: none;
    padding: 0;
}


/* Reset para elementos visíveis ocultos */

[hidden] {
    display: none;
}


/* Reset para todos os outros elementos */

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}