.radio-group {}

.radio-group .radio {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

.radio-group label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

.radio-group label.valid {
    color: green;
}

.radio-group label.error {
    color: #d90000;
}