.checkbox-group {}

.checkbox-group .checkbox {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

.checkbox-group label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}

.checkbox-group label.valid {
    color: green;
}

.checkbox-group label.error {
    color: #d90000;
}